.barraGeneral {
  width: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  position: fixed;
}
.barraGeneralPhone {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  margin-left: 75%;
  width: 250px;
  height: 350px;
  background-color: rgba(230, 230, 230, 0.904);
  border: solid 1px rgba(112, 109, 109, 0.404);
  border-radius: 6px;
}
.barraGeneralPhone2 {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  margin-left: 75%;
  width: 250px;
  height: 350px;
  background-color: rgba(7, 7, 7, 0.904);
  border: solid 1px rgba(112, 109, 109, 0.404);
  border-radius: 6px;
}
.barraOpcion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
  padding-left: 10%;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 6px;
}
.barraOpcion:hover {
  border-left: solid 3px rgb(3, 224, 158);
  background: rgba(46, 37, 48, 0.247);
}
.Provincia{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  width: 100%;
  background-color: rgba(33, 33, 36, 0);
  border-left: none;
}
.Provincia:hover{
  background-color: rgba(33, 33, 36, 0.096);
  border-left: solid 3px rgb(3, 224, 158);
  border-radius: 6px;
}
.barraOpcionDropdown {
  background-color: rgba(33, 33, 36, 0);
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.barraOpcionDropdown:hover {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.barraData {
  display: flex;
  justify-content: end;
  width: 90%;
  margin-left: 4%;
  font-family: "Open Sans", sans-serif;
}
.barraButton {
  margin-top: 1%;
  width: 50px;
  height: 45px;
  position: fixed;
}
.barraButton:hover {
  border-radius: 6px;
  background: rgba(34, 36, 37, 0.24);
}
.barraPhone {
  display: block;
}
.barraComputer {
  display: block;
}
.barraFoto {
  margin-top: 42px;
  width: 120px;
  height: 120px;
  border-radius: 30px;
}
@media (max-width: 780px) {
  .barraGeneral {
    width: 320px;
    margin-top: 0%;
    margin-left: 6%;
    border: solid 2px rgba(0, 0, 0, 0.856);
  }
  .barraGeneralPhone {
    margin-left: 9%;
    width: 300px;
    height: 350px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    position: fixed;
  }
  .barraGeneralPhone2 {
    margin-left: 9%;
    width: 300px;
    height: 350px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    position: fixed;
  }
  .barraButton {
    margin: 3%;
    width: 50px;
    height: 45px;
    position: fixed;
    background: rgb(255, 255, 255);
    border: solid 1px rgba(0, 0, 0, 0.856);
    border-radius: 6px;
  }
  .barraButton:hover {
    border-radius: 6px;
    background: rgb(255, 255, 255);
  }
  .barraOpcion {
    display: flex;
    justify-content: center;
    margin: 2% 0%;
    padding-left: 10%;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 6px;
  }
  .barraPhone {
    display: block;
  }
  .barraComputer {
    display: none;
  }
  .barraOpcionDropdown {
    margin-top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}
