.ModalPublicacion {
  background: rgba(245, 243, 243, 0);
  color: black;
  margin: 5px 0%;
  width: 600px;
  border: solid 1px rgba(116, 111, 111, 0.568);
  border-radius: 4px;
}
.ModalPublicacion2 {
  background: rgba(245, 243, 243, 0);
  color: rgb(236, 230, 230);
  margin: 5px 0%;
  width: 600px;
  border: solid 1px rgba(116, 111, 111, 0.568);
  border-radius: 4px;
}
.input {
  margin: 1% 2%;
  background-color: rgba(15, 15, 15, 0.192);
  border-radius: 6px;
  width: 96%;
  border: none;
}
.input2 {
  margin: 1% 2%;
  background-color: rgba(231, 226, 226, 0.041);
  border-radius: 6px;
  width: 96%;
  border: none;
}
textarea {
  background-color: rgba(240, 255, 255, 0);
  margin: 2%;
  border: none;
  width: 96%;
  height: 50px;
}
.btnPublicacion{
  background-color: rgb(0, 204, 187);
}
.btnPublicacion:hover{
  background-color: rgb(2, 231, 212);
}
.ModalPost{
  background-color: #2b2929;
  color: aliceblue;
}
.marginPublicacion {
  margin-top: 150px;
}
.datosTitular {
  background-color: rgba(37, 36, 36, 0);
  display: flex;
}
.PuclicarEmail {
  border-radius: 1rem;
  background-color: azure;
  width: 52%;
}
.PublicacionFotoMuro{
  margin: 0%;
  padding-top: 3px;
  padding-left: 8px;
}
.PublicacionFoto {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.PublicacionFotoPublicada {
  margin-top: 2%;
  max-width: 80%;
  max-height: 100%;
  border-radius: 12px;
  margin-bottom: 3%;
}
.PublicacionFotoImg {
  height: 150px;
}
.SelectCard{
  margin-top: 8%;
  margin-right: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.descripcionPublicacion {
  width: 490px;
  font-size: 16px;
  font-family: "Open Sans";
  margin-top: 1%;
  margin-bottom: 1%;
}
.PortadaTituloForm {
  color: rgb(29, 28, 28);
  display: block;
  width: 100%;
  text-shadow: 2px 2px 10px #2b2929;
}
.buttonSelect{
  margin-right: 2%;
  font-size: 22px;
  height: 32px;
  width: 44px;
  border-radius: 10px;
  text-align: center;
}
.buttonSelect:hover{
  background-color: rgba(36, 34, 34, 0.123);
  border: solid rgba(0, 0, 0, 0) 1px;
}
.cardSelect1{
  background-color: rgba(230, 230, 230, 0.966);
  border: solid 1px rgba(112, 109, 109, 0.404);
  height: 100%;
  width: 260px;
  border-radius: 6px;
}
.cardSelect2{
  background-color: rgb(0, 0, 0);
  border: solid 1px rgba(112, 109, 109, 0.404);
  height: 100%;
  width: 260px;
  border-radius: 6px;
}
.option{
  background-color: rgba(95, 158, 160, 0);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
}
.option:hover{
  background-color: rgba(29, 52, 53, 0.205);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
}
@media (max-width: 780px) {
  .PuclicarEmail {
    width: 90%;
  }
  .ModalPublicacion {
    margin-top: 5%;
    margin-left: 0%;
    border-radius: 6px;
    width: 700px;
  }
  .SelectCard{
    margin-top: 14%;
    margin-right: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
  }
  .descripcionPublicacion {
    width: 100%;
  }
  .PublicacionFotoPublicada {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    margin-bottom: 3%;
  }
  .PublicacionFoto {
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
