.BackgroundColor1{
  background: rgb(255, 255, 255);
  color: rgba(10, 10, 10, 0.87);
}
.BackgroundColor2{
  background: rgb(24, 23, 23);
  color: rgba(255, 255, 255, 0.87);
}
.VistaPrincipal {
  background: rgba(68, 61, 61, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ColorDePerfil {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ColorDePublic {
  width: 100%;
  background: rgba(172, 25, 25, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.landPageOrden {
  display: flex;
}
.titulo {
  font-family: monospace;
  font-size: 24px;
  color: rgb(20, 20, 20);
}
.barra {
  width: 20%;
  text-align: center;
}
.anuncios {
  width: 23%;
  text-align: center;
}
.perfilAnuncios {
  width: 15%;
  text-align: center;
}
.muro {
  width: 60%;
  border-right: solid 1px rgba(116, 111, 111, 0.158);
  border-left: solid 1px rgba(116, 111, 111, 0.212);
  min-height: 100vh;
}
.perfil {
  border-left: solid 1px rgba(116, 111, 111, 0.212);
  min-height: 100vh;
}
.ColorDePerfilBuscado {
  width: 59%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.footerAuto {
  background-color: #007bff;
  color: rgb(26, 25, 24);
}
.foto {
  width: 12rem;
  border-radius: 50%;
}
.FotoDePerfil {
  display: flex;
  justify-content: center;
  align-self: center;
}
.password-toogle-icon {
  margin-top: 2%;
  margin-left: 4%;
  color: #00000070;
  position: absolute;
  cursor: pointer;
}
.password-toogle-icon-register {
  margin-top: 2%;
  margin-left: 4%;
  color: #00000070;
  position: absolute;
  cursor: pointer;
}
.select-style {
  margin-left: 0px;
  width: 100%;
}
.About {
  background: url(https://i.pinimg.com/originals/e8/4d/53/e84d533338bdbf86e9d61a08e3950f3b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  text-align: center;
  width: 72%;
}
.AboutImgen {
  padding-top: 10%;
  min-height: 100%;
  background: #1e1d1fcc;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.AboutText {
  margin-top: 0%;
  width: 70%;
  text-shadow: 2px 4px 8px #000000;
  color: #dad2d2;
}
.AboutTitulo {
  font-family: "Zen Dots";
}
.ListaAbout {
  list-style: none;
}
@media (max-width: 780px) {
  .VistaPrincipal {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .ColorDePerfil {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .ColorDePerfilBuscado {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }
  .barra {
    width: 0%;
    text-align: center;
  }
  .muro {
    width: 100%;
    background: rgba(20, 20, 20, 0);
    border-right: solid 1px rgba(116, 111, 111, 0);
    border-left: solid 1px rgba(116, 111, 111, 0);
    min-height: 100vh;
  }
  .anuncios {
    width: 0%;
    text-align: center;
  }
  .landPageOrden {
    display: flex;
    flex-direction: column;
  }
  .foto {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .FotoDePerfil {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .perfil {
    margin: 4% 0%;
    width: 100%;
    display: flex;
  }
  .footerDateResponsive {
    display: none;
  }
  .PuclicarEmail {
    width: 90%;
  }
  .About {
    margin-top: 0%;
    width: 90%;
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  .About {
    background: url(http://cdn.shopify.com/s/files/1/1801/1563/articles/Portada_Blog_fotografia_urbana.jpg?v=1532458593);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    margin-top: 0%;
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  .AboutImgen {
    min-height: 100%;
    background: #2e2d2da2;
    padding: 4% 2%;
    display: flex;
    justify-content: center;
  }
  .AboutText {
    margin-top: 5%;
    width: 90%;
    text-shadow: 2px 4px 8px #000000;
    color: #dad2d2;
  }
  .AboutTitulo {
    font-family: "Zen Dots";
  }
  .perfilAnuncios {
    width: 0%;
    text-align: center;
  }
}
